<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/adminHead :: headFragment}"></head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <nav th:replace="~{common/adminSidebar :: sidebarFragment (activeTab=${'user.list'})}"></nav>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav th:replace="~{common/adminNavbar :: navbarFragment}"></nav>

                <div th:if="${flashMessage}">
                    <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
                </div>

                <div class="container-fluid">
                    <h2 class="mt-4">List of users</h2>

                    <div th:if="${!users.isEmpty()}" class="table-responsive">
                        <table class="table table-dark table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td>
                                        <a th:text="${user.username}" style="color: #fff;"
                                           href="#"
                                           ></a>
                                    </td>
                                    <td>
                                        <a th:text="${user.email}" style="color: #fff;"
                                           href="#"
                                           ></a>
                                    </td>
                                    <td>
                                        <span class="text-ellipsis action">
                                            <a href="#"
                                               style="color: #bd2130;" >
                                                delete
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${users.isEmpty()}" class="post-preview">
                        <p class="post-title">There are no users</p>
                    </div>

                    <!-- Pager -->
                    <div th:if="${users.getNumber()} &lt; ${users.getTotalPages()}" class="clearfix" >
                        <a th:if="${users.getNumber() + 1} neq 1" style="color: #fff;"
                           th:href="@{__${T(com.dejanristic.blog.util.UrlAdminMappings).ADMIN_USER_LIST + '?page=' + users.getNumber()}__}">
                            Previous
                        </a>
                        <a th:if="${users.getNumber() + 1} neq ${users.getTotalPages()}" style="color: #fff;"
                           class="ml-2"
                           th:href="@{__${T(com.dejanristic.blog.util.UrlAdminMappings).ADMIN_USER_LIST + '?page=' + {users.getNumber() + 2}}__}">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="~{common/adminFooter :: footerFragment}"></div>

    </body>

</html>
