<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/adminHead :: headFragment}"></head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <nav th:replace="~{common/adminSidebar :: sidebarFragment (activeTab=${'article.list'})}"></nav>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav th:replace="~{common/adminNavbar :: navbarFragment}"></nav>

                <div th:if="${flashMessage}">
                    <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
                </div>

                <div class="container-fluid">
                    <div class="clearfix mb-4">
                        <h2 class="mt-4">User Details</h2>

                        <a id="back-button" class="btn btn-primary btn-sm float-left"
                           th:href="@{__${back}__}">
                            Back
                        </a>
                    </div>
                    <div th:if="${user} neq null">
                        <div class="mb-2">
                            <div><strong>Id</strong> : <span th:text="${user.id}"></span></div>
                            <div><strong>Username</strong> : <span th:text="${user.username}"></span></div>
                            <div><strong>Email</strong> : <span th:text="${user.email}"></span></div>
                            <div><strong>Enabled</strong> : <span th:text="${user.enabled}"></span></div>
                            <div><strong>Created</strong> : <span th:text="${#dates.format(user.createdAt, 'MMMM dd, yyyy  (HH:MM:SS)')}"></span></div>
                            <div><strong>Updated</strong> : <span th:text="${#dates.format(user.updatedAt, 'MMMM dd, yyyy (HH:MM:SS)')}"></span></div>
                        </div>
                        <div class="clearfix">
                            <form  id="ban-user"
                                   th:if="${user.isEnabled()}"
                                   th:action="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_USER_BANNED + '/' + user.id}__}"
                                   method="post">
                                <button
                                    type="submit"
                                    class="btn btn-danger btn-sm" >
                                    ban
                                </button>
                            </form>
                            <form  id="ban-user"
                                   th:if="${!user.isEnabled()}"
                                   th:action="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_USER_UNBANNED + '/' + user.id}__}"
                                   method="post">
                                <button
                                    type="submit"
                                    class="btn btn-success btn-sm">
                                    unban
                                </button>
                            </form>
                        </div>
                    </div>


                    <div th:if="${user} eq null" class="post-preview">
                        <p class="post-title">There is no user</p>
                    </div>


                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="~{common/adminFooter :: footerFragment}"></div>

    </body>

</html>
