<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/adminHead :: headFragment}"></head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <nav th:replace="~{common/adminSidebar :: sidebarFragment (activeTab=${'contact.list'})}"></nav>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav th:replace="~{common/adminNavbar :: navbarFragment}"></nav>

                <div th:if="${flashMessage}">
                    <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
                </div>

                <div class="container-fluid">
                    <h2 class="mt-4">List of contacts</h2>

                    <div th:if="${!contacts.isEmpty()}" class="table-responsive">
                        <table class="table table-dark table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Message</th>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Created at</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-each="contact : ${contacts}">
                                    <td th:text="${contact.id}"></td>
                                    <td>
                                        <a class="text-ellipsis title" th:text="${contact.body}" style="color: #fff;"
                                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_CONTACT_SHOW + '/' + contact.id}__}"
                                           ></a>
                                    </td>
                                    <td>
                                        <span th:if="${!contact.view}" style="color: #f24537;">Unread</span>
                                        <span th:if="${contact.view}" style="color: #28a745;"><i class="fas fa-check"></i></span>
                                    </td>
                                    <td>
                                        <span th:text="${contact.name}" style="color: #fff;"></span>
                                    </td>
                                    <td>
                                        <span th:text="${contact.phone}" style="color: #fff;"></span>
                                    </td>
                                    <td>
                                        <span th:text="${contact.email}" style="color: #fff;"></span>
                                    </td>
                                    <td>
                                        <span class="text-ellipsis">
                                            <a th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_CONTACT_DELETE + '/' + contact.id}__}"
                                               class="deleteButton">
                                                delete
                                            </a>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-ellipsis action" th:text="${#dates.format(contact.createdAt, 'MMMM dd, yyyy  HH:mm')}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${contacts.isEmpty()}" class="post-preview">
                        <p class="post-title">There are no contacts</p>
                    </div>

                    <!-- Pager -->
                    <div th:if="${contacts.getNumber()} &lt; ${contacts.getTotalPages()}" class="clearfix" >
                        <a th:if="${contacts.getNumber() + 1} neq 1" class="btn btn-light btn-sm"
                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_COMMENT_LIST + '?page=' + contacts.getNumber()}__}">
                            Previous
                        </a>
                        <a th:if="${contacts.getNumber() + 1} neq ${contacts.getTotalPages()}" class="btn btn-light btn-sm ml-2"
                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_COMMENT_LIST + '?page=' + {contacts.getNumber() + 2}}__}">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="~{common/adminFooter :: footerFragment}"></div>

        <script th:src="@{/js/admin.js}"></script>

    </body>

</html>
