<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/head :: headFragment}"></head>

    <body>

        <!-- Navigation -->
        <nav th:replace="~{common/navigation :: navigationFragment (activeTab=${'home'})}"></nav>

        <div th:if="${flashMessage}">
            <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
        </div>

        <!-- Page Header -->
        <header class="masthead" th:style="'background-image:url(' + @{/img/home-bg.jpg} + ');'" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <div data-th-each="article : ${articles}" class="post-preview">
                        <a th:href="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_SHOW + '/' + article.id}__}">
                            <h2 th:text="${article.title}" class="post-title"></h2>
                            <h3 th:text="${article.description}" class="post-subtitle"> </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a th:href="@{__${T(com.dejanristic.blog.util.UrlMappings).USER_ARTICLES + '/' + article.user.id}__}"
                               th:text="${article.user.username}"
                               ></a>
                            on <span th:text="${#dates.format(article.publishedAt, 'MMMM dd, yyyy')}"></span></p>
                        <hr>
                    </div>

                    <div th:if="${articles.isEmpty()}" class="post-preview">
                        <h2 class="post-title">There are no posts</h2>
                    </div>


                    <!-- Pager -->
                    <div th:if="${articles.getNumber()} &lt; ${articles.getTotalPages()}" class="clearfix">
                        <a th:if="${articles.getNumber() + 1} neq 1"  class="btn btn-primary float-left"
                           th:href="@{__${T(com.dejanristic.blog.util.UrlMappings).HOME + '?page=' + articles.getNumber()}__}">
                            &larr; Newer Posts
                        </a>
                        <a th:if="${articles.getNumber() + 1} neq ${articles.getTotalPages()}" class="btn btn-primary float-right"
                           th:href="@{__${T(com.dejanristic.blog.util.UrlMappings).HOME + '?page=' + {articles.getNumber() + 2}}__}">
                            Older Posts &rarr;
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer th:replace="~{common/footer :: footerFragment}"></footer>

        <div th:replace="~{common/script :: scriptFragment}"></div>

    </body>

</html>
