<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/adminHead :: headFragment}"></head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <nav th:replace="~{common/adminSidebar :: sidebarFragment (activeTab=${'article.list'})}"></nav>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav th:replace="~{common/adminNavbar :: navbarFragment}"></nav>

                <div th:if="${flashMessage}">
                    <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
                </div>

                <div class="container-fluid">
                    <div class="clearfix mb-2">
                        <h2 class="mt-4">Check the article</h2>

                        <a class="btn btn-primary btn-sm float-left"
                           th:href="@{__${back}__}">
                            Back
                        </a>
                    </div>
                    <div id="check-article-area" th:if="${article} neq null">
                        <h4>title: </h4>
                        <div  class="check-article-item"  th:text="${article.title}"></div>

                        <h4>User: </h4>
                        <div class="check-article-item">
                            <a th:text="${article.user.username}" style="color: #479af3;"
                               href="#"
                               ></a>
                        </div>
                        <h4>body: </h4>
                        <div class="check-article-item"  th:text="${article.description}"></div>

                        <h4>body: </h4>
                        <div class="check-article-item" th:text="${article.body}"></div>
                    </div>


                    <div th:if="${article} eq null" class="post-preview">
                        <p class="post-title">There is no article</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="~{common/adminFooter :: footerFragment}"></div>

        <script th:src="@{/js/admin.js}"></script>

    </body>

</html>
