<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/adminHead :: headFragment}"></head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <nav th:replace="~{common/adminSidebar :: sidebarFragment (activeTab=${'article.releasing'})}"></nav>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav th:replace="~{common/adminNavbar :: navbarFragment}"></nav>

                <div th:if="${flashMessage}">
                    <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
                </div>

                <div class="container-fluid">
                    <h2 class="mt-4">List of unreleased articles</h2>

                    <div th:if="${!articles.isEmpty()}" class="table-responsive">
                        <p>
                            Page <span th:text="${articles.getNumber() + 1}"></span> of
                            <span th:text="${articles.getTotalPages()}"></span>
                        </p>
                        <table class="table table-dark table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Category</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">Created at</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-each="article : ${articles}">
                                    <td th:text="${article.id}"></td>
                                    <td>
                                        <a th:text="${article.title}" class="text-ellipsis title" style="color: #fff;"
                                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_ARTICLE_SHOW + '/' + article.id}__}"
                                           ></a>
                                    </td>
                                    <td>
                                        <a th:text="${article.user.username}" class="text-ellipsis" style="color: #fff;"
                                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_USER_SHOW + '/' + article.user.id}__}"
                                           ></a>
                                    </td>
                                    <td>
                                        <span th:text="${article.category.name}"></span>
                                    </td>
                                    <td>
                                        <a th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_ARTICLE_SHOW + '/' + article.id}__}"
                                           class="commentButton">
                                            check
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_ARTICLE_RELEASE + '/' + article.id}__}"
                                           class="editButton">
                                            release
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_ARTICLE_DELETE + '/' + article.id}__}"
                                           class="deleteButton">
                                            delete
                                        </a>
                                    </td>
                                    <td>
                                        <span class="text-ellipsis action" th:text="${#dates.format(article.createdAt, 'MMMM dd, yyyy  HH:mm')}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${articles.isEmpty()}" class="post-preview">
                        <p class="post-title">There are no articles</p>
                    </div>

                    <!-- Pager -->
                    <div class="clearfix" >
                        <a th:if="${articles.getNumber() + 1} neq 1" class="btn btn-light btn-sm"
                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_UNRELEASED_ARTICLES_LIST + '?page=' + articles.getNumber()}__}">
                            Previous
                        </a>
                        <a th:if="${articles.getNumber() + 1} &lt; ${articles.getTotalPages()}" class="btn btn-light btn-sm ml-2"
                           th:href="@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN_UNRELEASED_ARTICLES_LIST + '?page=' + {articles.getNumber() + 2}}__}">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="~{common/adminFooter :: footerFragment}"></div>

        <script th:src="@{/js/admin.js}"></script>

    </body>

</html>
