<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="messageFragment (type,text)">
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog text-center">
                <div class="modal-content" th:classappend="${type}">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${text}">Modal Heading</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</html>
