<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="scriptFragment">
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/jquery.validate.min.js}"></script>
        <script th:src="@{/vendor/additional-methods.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Custom scripts for this template -->
        <script th:src="@{/js/clean-blog.min.js}"></script>
        <script th:src="@{/js/script.js}"></script>
    </div>
</html>

