<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/head :: headFragment}"></head>

    <body>

        <!-- Navigation -->
        <nav th:replace="~{common/navigation :: navigationFragment (activeTab=${'register'})}"></nav>

        <!-- Page Header -->
        <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>Register</h1>
                            <span class="subheading">Join us now</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="#" th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).REGISTER}__}" th:object="${__${T(com.dejanristic.blog.util.AttributeNames).NEW_USER}__}" method="post">
                        <div class="form-group floating-label-form-group controls">
                            <label for="inputUsername">Username</label>
                            <input type="text" class="form-control" id="inputUsername" th:field="*{username}" placeholder="Enter username" aria-describedby="usernameHelpBlock">
                        </div>
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" id="usernameHelpBlock" class="form-text text-danger"></small>
                        <div class="form-group floating-label-form-group controls">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" th:field="*{email}"  placeholder="Enter email" aria-describedby="emailHelpBlock">
                        </div>
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailHelpBlock" class="form-text text-danger"></small>
                        <div class="form-group floating-label-form-group controls">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" th:field="*{password}"  placeholder="Enter Password" aria-describedby="passwordHelpBlock">
                        </div>
                        <small class="form-text"
                               th:each="error: ${#fields.errors('password')}">
                            <span th:each="message : ${error.split(',')}">
                                <span class="text-danger"
                                      th:text="${message}"></span>
                            </span>
                        </small>

                        <div class="form-group floating-label-form-group controls">
                            <label for="inputConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password">
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer th:replace="~{common/footer :: footerFragment}"></footer>

        <div th:replace="~{common/script :: scriptFragment}"></div>

    </body>

</html>

