<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/head :: headFragment}"></head>

    <body class="bg-dark">

        <!-- Navigation -->
        <nav th:replace="~{common/navigation :: navigationFragment (activeTab=${'article.create'})}"></nav>

        <div th:if="${flashMessage}">
            <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
        </div>


        <!-- Main Content -->
        <article style="margin-top: 4rem;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 col-md-11 mx-auto" style="color: #fff;">
                        <h2>Write a new article</h2>
                        <form action="#" th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_STORE}__}" th:object="${__${T(com.dejanristic.blog.util.AttributeNames).NEW_ARTICLE}__}" method="post">
                            <div class="form-group">
                                <label for="inputTitle">Title: </label>
                                <input type="text" class="form-control" id="inputTitle" th:field="*{title}">
                                <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text text-danger"></small>
                            </div>

                            <div class="form-group">
                                <label for="inputDescription">Description: </label>
                                <textarea class="form-control" id="inputDescription" th:field="*{description}"></textarea>
                                <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-text text-danger"></small>
                            </div>

                            <div class="form-group">
                                <label for="selectCategory">Select Category</label>
                                <select class="form-control" id="selectCategory" th:field="*{categoryId}">
                                    <option th:value="NULL" th:text="---Select---"></option>
                                    <option data-th-each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                                <small th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" class="form-text text-danger"></small>
                            </div>

                            <div class="form-group">
                                <label for="inputBody">Body: </label>
                                <textarea class="form-control" rows="5" id="inputBody" th:field="*{body}"></textarea>
                                <small th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="form-text text-danger"></small>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>

        <hr>

        <!-- Footer -->
        <footer th:replace="~{common/footer :: footerFragment}"></footer>

        <div th:replace="~{common/script :: scriptFragment}"></div>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({selector: '#inputBody'});</script>

    </body>

</html>
