<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/head :: headFragment}"></head>

    <body>

        <!-- Navigation -->
        <nav th:replace="~{common/navigation :: navigationFragment (activeTab=${'article.create'})}"></nav>

        <div th:if="${flashMessage}">
            <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
        </div>

        <!-- Page Header -->
        <header class="masthead" th:style="'background-image:url(' + @{/img/home-bg.jpg} + ');'" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-heading">
                            <h1>Edit Article</h1>
                            <h2 th:text="${(__${T(com.dejanristic.blog.util.AttributeNames).EDIT_ARTICLE}__).title}" class="subheading"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="#" th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_UPDATE+ '/' + id}__}" th:object="${__${T(com.dejanristic.blog.util.AttributeNames).EDIT_ARTICLE}__}" method="post">
                        <div class="form-group">
                            <label for="inputTitle">Title: </label>
                            <input type="text" class="form-control" id="inputTitle" th:field="*{title}">
                            <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text text-danger"></small>
                        </div>

                        <div class="form-group">
                            <label for="inputDescription">Description: </label>
                            <textarea class="form-control" id="inputDescription" th:field="*{description}"></textarea>
                            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-text text-danger"></small>
                        </div>

                        <div class="form-group">
                            <label for="inputBody">Body: </label>
                            <textarea class="form-control" rows="5" id="inputBody" th:field="*{body}"></textarea>
                            <small th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="form-text text-danger"></small>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer th:replace="~{common/footer :: footerFragment}"></footer>

        <div th:replace="~{common/script :: scriptFragment}"></div>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({selector: '#inputBody'});</script>

    </body>

</html>
