<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/head :: headFragment}"></head>

    <body class="bg-dark">
        <div class="loading">Loading&#8230;</div>

        <!-- Navigation -->
        <nav th:replace="~{common/navigation :: navigationFragment (activeTab=${'article.edit'})}"></nav>

        <div th:if="${flashMessage}">
            <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
        </div>

        <!-- Main Content -->
        <article style="margin-top: 4rem;">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-11 col-md-11 mx-auto" style="color: #fff;">
                        <h2>Edit Article</h2>
                        <h4 th:text="${(__${T(com.dejanristic.blog.util.AttributeNames).EDIT_ARTICLE}__).title}" class="subheading"></h4>
                        <form id="article-form" th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_UPDATE+ '/' + id}__}" th:object="${__${T(com.dejanristic.blog.util.AttributeNames).EDIT_ARTICLE}__}" method="post">
                            <div class="form-group">
                                <label for="title">Title: </label>
                                <input type="text" class="form-control" id="title" th:field="*{title}">
                            </div>

                            <div class="form-group">
                                <label for="description">Description: </label>
                                <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                            </div>

                            <!-- upload image -->
                            <div class="form-group">
                                <label for="image">Upload image (jpg, jpeg, png)</label><br>
                                <input class="file-input" id="image" type="file" th:field="*{image}" th:value="*{image}" />
                            </div>

                            <div class="form-group">
                                <label for="selectCategory">Select Category</label>
                                <select class="form-control" id="categoryId" th:field="*{categoryId}">
                                    <option th:value="NULL" th:text="---Select---"></option>
                                    <option data-th-each="category : ${__${T(com.dejanristic.blog.util.AttributeNames).CATEGORIES}__}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="body">Body: </label>
                                <textarea class="form-control" rows="5" id="body" th:field="*{body}"></textarea>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>

        <hr>

        <!-- Footer -->
        <footer th:replace="~{common/footer :: footerFragment}"></footer>

        <div th:replace="~{common/script :: scriptFragment}"></div>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '#body',
                init_instance_callback: function (editor) {
                    editor.on('NodeChange', function (e) {
                        $("#body").html(this.getContent());
                    });
                }
            });
        </script>

    </body>

</html>
