<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/head :: headFragment}"></head>

    <body>

        <!-- Navigation -->
        <nav th:replace="~{common/navigation :: navigationFragment (activeTab=${'show'})}"></nav>

        <div th:if="${flashMessage}">
            <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
        </div>

        <!-- Page Header -->
        <header class="masthead" th:style="'background-image:url(' + @{/img/post-bg.jpg} + ');'" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-heading">
                            <div class="post-details mb-2">
                                <h1 th:text="${article.title}">Man must explore, and this is exploration at its greatest</h1>
                                <h2 th:text="${article.description}" class="subheading">Problems look mighty small from 150 miles up</h2>

                                <span class="meta">Posted by
                                    <a th:href="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_USER_LIST + '/' + article.user.id}__}"
                                       th:text="${article.user.username}"
                                       ></a>
                                    on <span th:text="${#dates.format(article.publishedAt, 'MMMM dd, yyyy')}"></span>,
                                    <span>category: <a href="#" th:text="${article.category.name}"></a></span>,
                                    <span> views: <b th:text="${article.viewsCount}" style="color: #ffc107;"></b></span>
                                </span>
                            </div>
                            <div class="clearfix mb-4">
                                <form class="form-like"
                                      th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_LIKE + '/' + article.id}__}"
                                      method="post"
                                      >
                                    <label class="label-likes" th:text="${article.likesCount}">0</label>
                                    <button class="btn-like" type="submit"><i class="fas fa-thumbs-up"></i></button>
                                </form>

                                <form class="form-dislike"
                                      th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).ARTICLE_DISLIKE + '/' + article.id}__}"
                                      method="post"
                                      >
                                    <label class="label-dislikes" th:text="${article.dislikesCount}">0</label>
                                    <button class="btn-dislike" type="submit"><i class="fas fa-thumbs-down"></i></button>
                                </form>
                            </div>
                            <a class="btn btn-light "
                               th:href="@{${__${T(com.dejanristic.blog.util.AttributeNames).BACK_URL}__}}">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div th:utext="${article.body}"></div>
                    <hr>
                    <div class="comment-wrapper" id="comment-area">
                        <div class="panel">
                            <div class="panel-body">
                                <form id="comment-add" sec:authorize="isAuthenticated()"
                                      th:action="@{__${T(com.dejanristic.blog.util.UrlMappings).COMMENT_STORE + '/' + article.id}__}"
                                      th:object="${__${T(com.dejanristic.blog.util.AttributeNames).NEW_COMMENT}__}"
                                      method="post"
                                      >
                                    <div class="form-group">
                                        <textarea id="body" class="form-control" placeholder="write a comment..." rows="3" th:field="*{body}"></textarea>
                                    </div>
                                    <button type="submit" class="commentButton">Send</button>
                                    <hr>
                                </form>

                                <ul class="media-list" id="comment-list">
                                    <li class="media comment-item"
                                        data-th-each="comment : ${comments}"
                                        >

                                        <img  alt="">

                                        <div class="media-body">
                                            <div>
                                                <strong class="text-success"
                                                        th:text="'@' + ${comment.user.username}"
                                                        ></strong>
                                                <small class="text-muted"
                                                       th:text="${#dates.format(comment.createdAt, 'MMMM dd, yyyy  HH:mm')}"
                                                       ></small>
                                            </div>

                                            <p th:text="${comment.body}"></p>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer th:replace="~{common/footer :: footerFragment}"></footer>

        <div th:replace="~{common/script :: scriptFragment}"></div>

    </body>

</html>

