<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{common/adminHead :: headFragment}"></head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <nav th:replace="~{common/adminSidebar :: sidebarFragment (activeTab=${'admin'})}"></nav>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav th:replace="~{common/adminNavbar :: navbarFragment}"></nav>

                <div th:if="${flashMessage}">
                    <div th:replace="~{common/fleshMessage :: messageFragment (type=${flashMessage.type}, text=${flashMessage.text})}"></div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="mt-4">Dashboard</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div  class="card mb-4 bg-card">
                                <div class="card-body ">
                                    <h5 class="card-title">Profile</h5>
                                    <div class="mb-5" th:if="${user} neq null">
                                        <div>
                                            <div><strong>Id</strong> : <span th:text="${user.id}"></span></div>
                                            <div><strong>Username</strong> : <span id="username" th:text="${user.username}"></span></div>
                                            <div><strong>Firstname</strong> : <span id="firstname" th:text="${user.firstname}"></span></div>
                                            <div><strong>Lastname</strong> : <span id="lastname" th:text="${user.lastname}"></span></div>
                                            <div><strong>Email</strong> : <span  id="email" th:text="${user.email}"></span></div>
                                            <div><strong>Enabled</strong> : <span th:text="${user.enabled}"></span></div>
                                            <div><strong>Created</strong> : <span th:text="${#dates.format(user.createdAt, 'MMMM dd, yyyy  (HH:MM:SS)')}"></span></div>
                                            <div><strong>Updated</strong> : <span th:text="${#dates.format(user.updatedAt, 'MMMM dd, yyyy (HH:MM:SS)')}"></span></div>
                                        </div>
                                    </div>
                                    <h5 class="card-title">Details</h5>
                                    <div>
                                        <div><strong>Number of Users: </strong> <span id="nou" th:text="${userCount}"></span></div>
                                        <div><strong>Number of Articles: </strong> <span id="noa" th:text="${articleCount}"></span></div>
                                        <div th:if="${userCount} neq 0"><strong>Article per User: </strong> <span id="apu" th:text="${articleCount/userCount}"></span></div>
                                        <div><strong>Likes: </strong> <span id="likes" th:text="${likesCount}"></span></div>
                                        <div><strong>Dislikes: </strong> <span id="dislikes" th:text="${dislikesCount}"></span></div>
                                        <div th:if="${dislikesCount} neq 0"><strong>Global rate: </strong> <span id="gr" th:text="${likesCount/dislikesCount}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card-body mb-4 bg-card">
                                <h5 class="card-title">Visitors per days</h5>
                                <canvas id="myBarChart" width="100%" height="50"></canvas>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div  class="card mb-4 bg-card">
                                <div class="card-body ">
                                    <h5 class="card-title">Global Rate</h5>
                                    <canvas id="pieChartLikeRate"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="~{common/adminFooter :: footerFragment}"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/

            var likesCount = /*[[${likesCount}]]*/ 0;
            var dislikesCount = /*[[${dislikesCount}]]*/ 0;
            var visitorPerDay = /*[[${visitorPerDay}]]*/ {};
            var max = /*[[${max}]]*/ 0;
            var urlHome = /*[[@{__${T(com.dejanristic.blog.util.admin.UrlAdminMappings).ADMIN}__}]]*/ "";

            /*]]>*/
        </script>

        <!-- Page level plugin JavaScript-->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        <script th:src="@{/js/chart-pie-demo.js}"></script>
        <script th:src="@{/js/chart-bar-demo.js}"></script>
        <script th:src="@{/js/admin.js}"></script>
        <script th:src="@{/js/dashboard.js}"></script>
    </body>

</html>