li.nav-item.active  {
    background: #fff;
}
li.nav-item.active > a {
    color: #333;
}


@media only screen and (min-width: 992px){
    #mainNav .navbar-nav>li.nav-item.active>a {
        color: #333;
    }
}
